<form class="form-inline" id="inputScheduleForm" action="/addScheduleInput" method="POST">
    <div>
        <input id="templateName" type="text" name="name" placeholder="Name of Template">
    </div>
    <div class="inputScheduleRow">
        <div>Date</div>
        <div>Mileage</div>
        <div>Workout/Extras</div>
        <div>Exercises</div>
    </div>
    <% let days = ["Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Saturday", "Sunday"] %>
    <% for (var i = 0; i < 7; i++) { %>
        <div class="inputScheduleRow">
            <input type="text" class="form-control inputScheduleDate date" value="<%=days[i]%>" name="date[]" readonly>
            <input type="number" value="6" class="form-control textAlignCenter mileage" name="mileage[]" placeholder="Mileage">
            <input type="text" value="Strides" class="form-control textAlignCenter workoutOrExtra" name="workoutOrExtra[]"
                placeholder="Workout/Extras">
            <input type="text" value="Core" class="form-control exercise" name="exercise[]" placeholder="Exercises">
        </div>
    <% } %>
    <button id="submit" type="submit">Submit</button>

    <script>
        let submitButton = document.getElementById("submit")
        submitButton.addEventListener("click", (e)=>{ 
        e.preventDefault()
        let dates = document.getElementsByClassName("date")
        let mileages = document.getElementsByClassName("mileage")
        let workoutOrExtras = document.getElementsByClassName("workoutOrExtra")
        let exercises = document.getElementsByClassName("exercise")
        let templateName = document.getElementById("templateName")
        let dateArr = []
        let mileageArr = []
        let workoutOrExtraArr = []
        let exerciseArr = []
        for(let i = 0; i < dates.length; i++){
            dateArr.push(dates[i].value)
            mileageArr.push(mileages[i].value)
            workoutOrExtraArr.push(workoutOrExtras[i].value)
            exerciseArr.push(exercises[i].value)
        }

        let data = {
            dates: dateArr,
            mileages: mileageArr,
            workoutOrExtras: workoutOrExtraArr,
            exercises: exerciseArr,
            name: templateName,
        }
        //console.log(process.env.SERVER_URL)
        axios.post("/addTemplate", data)
        .then((response) => {
           alert("Template Added!")
        }).catch(function (error) {
            console.log(error)
        });
    })
    </script>

