<form class="form-inline" id="inputScheduleForm" action="/addScheduleInput" method="POST">
    <div class="inputScheduleRow">
        <div>Date</div>
        <div>Mileage</div>
        <div>Workout/Extras</div>
        <div>Exercises</div>
    </div>
    <% for (var i = 0; i < 7; i++) { %>
        <div class="inputScheduleRow">
            <input type="date" class="form-control inputScheduleDate date" name="date[]" placeholder="Date">
            <input type="number" value="6" class="form-control textAlignCenter mileage" name="mileage[]" placeholder="Mileage">
            <input type="text" value="Strides" class="form-control textAlignCenter workoutOrExtra" name="workoutOrExtra[]"
                placeholder="Workout/Extras">
            <input type="text" value="Core" class="form-control exercise" name="exercise[]" placeholder="Exercises">
        </div>
    <% } %>
    
    <h1>Athlete List:</h1>
    <ul id="athletes">
        <% athleteList.forEach(athlete => { %>
            <input type="text" class="userIds" hidden name="userIDs[]" value="<%=athlete.id%>">
            <input type="number" class="selected hidden name="selected[]" value="0">
            <li><%=athlete.googlename%> <input type="checkbox" name="selectedUsersToApply[]" class="athletes"></li>
        <%}); %>
    </ul>
    <button id="submit" type="submit">Submit</button>
    

</form>
<script>
    let inputScheduleDates = document.getElementsByClassName('inputScheduleDate')

    let monday = new Date()
    let today = monday.getDay() 
    let distanceToMonday
    if (today != 0) {
        distanceToMonday = today - 1
    } else {
        distanceToMonday = 6
    }
    monday.setDate(monday.getDate() - distanceToMonday)
    for (var i = 0; i < inputScheduleDates.length; i++) {
        let inputScheduleDate = inputScheduleDates[i]
        let date = monday
        inputScheduleDate.value = date.toISOString().slice(0, 10)
        date.setDate(date.getDate() + 1)
    }

    let checkBoxes = document.querySelectorAll("#athletes input[type=checkbox]")
    let hiddenInputs = document.querySelectorAll("#athletes input[type=number]")
    for (let i = 0; i < hiddenInputs.length; i++) {
        let checkbox = checkBoxes[i]
        checkbox.addEventListener("change", (e)=>{
           let hiddenInput = hiddenInputs[i]
           if (e.target.checked) {
               hiddenInput.value = 1
           } else {
               hiddenInput.value = 0
           }
        })
    }

    let submitButton = document.getElementById("submit")
    submitButton.addEventListener("click", (e)=>{ 
        e.preventDefault()
        let dates = document.getElementsByClassName("date")
        let mileages = document.getElementsByClassName("mileage")
        let workoutOrExtras = document.getElementsByClassName("workoutOrExtra")
        let exercises = document.getElementsByClassName("exercise")
        let dateArr = []
        let mileageArr = []
        let workoutOrExtraArr = []
        let exerciseArr = []
        for(let i = 0; i < dates.length; i++){
            dateArr.push(dates[i].value)
            mileageArr.push(mileages[i].value)
            workoutOrExtraArr.push(workoutOrExtras[i].value)
            exerciseArr.push(exercises[i].value)
        }
        let userIds = document.getElementsByClassName("userIds")
        let userIdArr = []
        for(let i = 0; i < checkBoxes.length; i++){
            if(checkBoxes[i].checked){
                userIdArr.push(userIds[i].value)
            } 
        }
        let data = {
            dates: dateArr,
            mileages: mileageArr,
            workoutOrExtras: workoutOrExtraArr,
            exercises: exerciseArr,
            userIDs: userIdArr,
        }
        //console.log(process.env.SERVER_URL)
        axios.post("/addScheduleInput", data)
        .then((response) => {
            console.log("data sent")
        }).catch(function (error) {
            console.log(error)
        });
    })
</script>