#inputScheduleForm{
    margin: 8% auto;
    display: grid;
}

.inputScheduleRow{
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    
}
.textAlignCenter{
    text-align: center;
}

.athletes{
    width: 14px;
    height: 14px ;
}
